.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-top: 3.9rem;

    &__title {
        font-weight: 600;
        font-size: 2.1rem;
        margin: 0 0 1.1rem 0;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 1.5rem;
        margin: 0;
    }

    &__col {
        &:last-of-type {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}