$color-nav-bg: #494E61;
$color-logo-circle: #7D82F7;
$color-white: #FFFFFF;
$color-grey: #757B8F;
$color-bg: #F2F3F6;
$color-table-border: #EDEDF0;
$color-table-grey: #9CA7D3;
$color-green: #24A1A9;
$color-red: #EA5885;
$color-search-border: #D4D7E1;
$color-black: #000000;
$color-shadow: #ababab